*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    min-height: 100vh;
}

.container{
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-auto-rows: (150px,auto);
    gap: 1rem;
}





.box{
    background-color: #000;
    border-style: solid;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
}

.box:first-child{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4;
}


.box:nth-child(3){
    background-color:red;
    grid-column-end:4 ;
    grid-column-start: 1;
}