.search-input{
    border: 2px solid red;
    width: 30px;
    padding: 1rem;
    border-radius: 1rem;
    animation-name:search-input-width ;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.search-input:hover{
    width: 300px;
}


@keyframes search-input-width {
    0%{
        width: 30px;
    } 
    100%{
        width: 300px;
    }
}


