*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 1rem;
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}


img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: .5rem;
    margin-block: .5rem;
}