.container{
    display: grid;
    /* grid-template-columns: 30% 20% 50%; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: repeat(9,1fr);
    max-width: 950px;
    margin: 0 auto;
}

.container > div{
    background-color: lightskyblue;
    padding: 30px;
}

.container > div:nth-child(even){
    background-color: gray;
    padding: 30px;
}