div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
button{
    background-color:teal;
    padding: 15px 12px;
    font-size: 2em; 
    cursor:hover;
    transition: 1s;
    border-color: white;
    border-width: 4px;
}

button:hover{
    background-color: purple;
    border-radius: 70%;
}