.container{
    border:2px solid red;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.question-box{
    display: flex;
    gap: 0.5rem;
}

.question-box > div{
    font-size: large;
    font-weight: bold;

}

.question-box > button {
    border:none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 50%;
    transition: all 200ms;

}

.active{
    transform: rotate(90deg);
}