*{
    margin: 0px;
    padding: 0px;
}


.media-controls{ 
    margin: 5px;  
    border: solid 3px;
    display: flex;
    min-height: 6em;
    justify-content: center;
    align-items: center; 
}

button{

    padding: 12px;
    border-style: solid;
    border-color: red;
    margin: 12px 7px 12px 7px;
}


.volume-container{
   
    border-style:solid;
    border-color: red;
    padding: 12px; 

}

/* Stlying progress bar */

.progress {
    
    margin: 5px;
    width: 210px;
    height: 30px;
    background: aquamarine;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress__fill{

    position: absolute;
    width: 50%;
    height: 100%;
    background: rgb(6, 78, 78);
    transition: all 1s ease;
    
}