.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

button {
    padding-inline: 0.5em;
    padding-block: 0.2em;
}

.container {
    border: 2px solid red;
    width: 50%;
    max-width: 900px;
    margin-inline: auto;
    padding: 1rem;
}

.char-len {
    display: grid;
    gap: 0.5rem;
}
.char-len-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
    gap: 0.5rem;
}

.hehe {
    display: flex;
    justify-self: start;
    align-items: center;
}
