.wrapper {
    width: 60%;
    margin-inline: auto;
    max-width: 1112px;
    border: 2px solid red;
    aspect-ratio: 1/1;
    padding: 1rem;
}
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.step {
    width: 30px;
    aspect-ratio: 1/1;
    background-color: lightpink;
    cursor: pointer;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.step.meow {
    background-color: hotpink;
}
.progess-bar {
    background-color: lightcoral;
    height: 4px;
    position: absolute;
    z-index: -1;
    transition: width 200ms ease-in-out 
}
