.tab {
    border: 2px solid red;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}

.header > * {
    padding: 0.5rem;
    cursor: pointer;
}

.container {
}

.test {
    width: 100%;
    min-height: 500px;
    background-color: rebeccapurple;
    animation-name: scale;
    animation-timing-function: ease-in;
    animation-duration: 300ms;
    font-size: 3rem;
    font-weight: 800;
    color: white;
    text-align: center;
    animation-fill-mode: forwards;
}

@keyframes scale {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
