*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color-scheme: dark light;
}
body{
    line-height: 1.5;
}
.wrapper{
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;

}

.site-title{
    font-size: 3rem;
    padding:1rem;
}

.section-title{
    font-size: 2rem;
    line-height: 1.5;
}

section{
    padding-block:5rem;
}

p{
    font-size: 1.1rem;
}

.diagonal{
    /* background-image: linear-gradient(
        45deg,
        #10a4c5,
        #9548bb,
        #bf303a
    ); */
    position:relative;
    isolation: isolate; 
}

.diagonal::after{
    content: '';
    width: 100%;
    background:  linear-gradient(
        45deg,
        #10a4c5,
        #9548bb,
        #bf303a
    );

    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.skipes{
    position: relative;    
    color:black;
    background: linear-gradient(
        to right,
        #fdc830,
        #f37335
    );
}

.skipes::before,
.skipes::after{
    content: '';
    width: 100%;
    position: absolute;
    height: 50px;
    background-color: rebeccapurple;
    mask-image: url('./assests/triangle.svg');
}

.skipes::after{
    bottom: 0;
    transform: rotate(180deg);
}

.skipes::before{
   top: 0; 
}